.section .sectionInner {
  padding-top: 6rem;
  padding-bottom: 6rem;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .section .sectionInner {
    padding-top: 10%;
    padding-bottom: 10%;
  }
}

@media only screen and (max-width: 767px) {
  .section .sectionInner {
    padding-top: 14%;
    padding-bottom: 14%;
  }
}

@media only screen and (min-width: 1024px) {
  .section:last-of-type .sectionInner {
    padding-bottom: 15rem;
  }
}

#kv {
  position: relative;
  height: 52rem;
}

@media only screen and (max-width: 1023px) {
  #kv {
    height: auto;
  }
}

#kv .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 70%;
  height: 40rem;
}

@media only screen and (max-width: 1023px) {
  #kv .bg {
    width: 95%;
    height: 30vh;
  }
}

#kv .pageTitleWrap {
  color: #fff;
  position: relative;
  z-index: 4;
  width: 47%;
  padding-top: 12rem;
}

@media only screen and (max-width: 1023px) {
  #kv .pageTitleWrap {
    width: 100%;
  }
}

@media only screen and (max-width: 1023px) {
  #kv .pageTitleWrap {
    padding-top: 3rem;
  }
}

#kv .pageTitleWrap .pageTitle {
  font-size: 5.6rem;
  margin-bottom: 10px;
  color: #333333;
  font-family: "Shippori Mincho", serif;
  margin-bottom: 10px;
  font-weight: 500;
}

@media only screen and (max-width: 1023px) {
  #kv .pageTitleWrap .pageTitle {
    font-size: 3.3rem;
  }
}

#kv .pageTitleWrap .enTitle {
  font-size: 1.6rem;
  padding-left: 24px;
  position: relative;
  font-family: "Noto Sans JP", sans-serif;
  text-transform: capitalize;
  letter-spacing: 0.1em;
}

@media only screen and (max-width: 767px) {
  #kv .pageTitleWrap .enTitle {
    margin-bottom: 8px;
    font-size: 1.4rem;
  }
}

#kv .pageTitleWrap .enTitle:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 16px;
  height: 1px;
}

#kv #breadcrumbWrap {
  z-index: 4;
  position: relative;
  margin-top: 5rem;
}

@media only screen and (max-width: 767px) {
  #kv #breadcrumbWrap {
    margin-top: 2.3rem;
  }
}

#kv .kvImageWrap {
  width: 50%;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

@media only screen and (max-width: 1023px) {
  #kv .kvImageWrap {
    width: 95%;
    position: relative;
    padding-left: 5%;
    margin-top: 1.5rem;
  }
}

#kv .kvImageWrap .image {
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  #kv .kvImageWrap .image {
    height: 47.52vw;
  }
}

@media only screen and (max-width: 767px) {
  #kv .kvImageWrap .image {
    height: 47.5vw;
  }
}

#kv .kvImageWrap img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

#editorPost .singleText > * {
  margin-top: 30px;
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText > * {
    margin-top: 6%;
  }
}

#editorPost .singleText > *:first-child {
  margin-top: 0;
}

#editorPost .singleText h1 {
  line-height: 1.4;
  font-size: 28px;
  font-weight: bold;
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText h1 {
    font-size: 5.5vw;
  }
}

#editorPost .singleText h2 {
  position: relative;
  line-height: 1.4;
  font-size: 3.5rem;
  font-family: "Shippori Mincho", serif;
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText h2 {
    font-size: 4.8vw;
  }
}

#editorPost .singleText h2::before {
  content: "";
  position: absolute;
  top: 0.7em;
  left: calc(-100vw - 1rem);
  width: 100vw;
  height: 1px;
  background-color: #707070;
}

#editorPost .singleText h3 {
  line-height: 1.4;
  padding-left: 2rem;
  font-size: 2.8rem;
  font-family: "Shippori Mincho", serif;
  border-left: 6px solid #333;
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText h3 {
    font-size: 4vw;
  }
}

#editorPost .singleText h4 {
  display: inline-block;
  line-height: 1.6;
  padding-bottom: 0.4em;
  font-size: 2.8rem;
  font-family: "Shippori Mincho", serif;
  position: relative;
  border-bottom: 1px solid #c9c9c9;
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText h4 {
    font-size: 4vw;
  }
}

#editorPost .singleText h4:after {
  width: 40%;
  height: 1px;
  content: "";
  background-color: #333;
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: 2;
}

#editorPost .singleText h5 {
  position: relative;
  line-height: 1.6;
  padding-left: 2.7rem;
  font-size: 2.2rem;
  font-family: "Shippori Mincho", serif;
  position: relative;
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText h5 {
    font-size: 3.6vw;
  }
}

#editorPost .singleText h5:after {
  content: "";
  position: absolute;
  top: 0.5em;
  left: 0.4rem;
  width: 1.5rem;
  height: 0.7rem;
  border-left: 2px solid #333;
  border-bottom: 2px solid #333;
  transform: rotate(-40deg);
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText h5:after {
    width: 2.66vw;
    height: 1.32vw;
  }
}

#editorPost .singleText h6 {
  display: inline-block;
  line-height: 1.6;
  padding-bottom: 0.4em;
  font-size: 2.2rem;
  font-family: "Shippori Mincho", serif;
  border-bottom: 1px solid #ccc;
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText h6 {
    font-size: 3.6vw;
  }
}

#editorPost .singleText a {
  line-height: 1.8;
  color: #686868;
  text-decoration: underline;
  font-size: 16px;
}

#editorPost .singleText a:visited, #editorPost .singleText a:focus, #editorPost .singleText a:active {
  color: #686868;
}

@media only screen and (min-width: 1024px) {
  #editorPost .singleText a:hover {
    text-decoration: none;
  }
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText a {
    font-size: 3.2vw;
  }
}

#editorPost .singleText p {
  line-height: 1.8;
  font-size: 16px;
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText p {
    font-size: 3.2vw;
  }
}

#editorPost .singleText p:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#editorPost .singleText b,
#editorPost .singleText em,
#editorPost .singleText strong {
  font-weight: bold;
}

#editorPost .singleText em {
  font-style: italic;
}

#editorPost .singleText sup,
#editorPost .singleText sub {
  font-size: 80%;
}

#editorPost .singleText sup {
  vertical-align: super;
}

#editorPost .singleText sub {
  vertical-align: sub;
}

#editorPost .singleText img.alignleft {
  padding-right: 30px;
  padding-bottom: 30px;
  float: left;
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText img.alignleft {
    padding: 0;
    padding-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: block;
  }
}

#editorPost .singleText img.alignright {
  padding-left: 30px;
  padding-bottom: 30px;
  float: right;
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText img.alignright {
    padding: 0;
    padding-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: block;
  }
}

#editorPost .singleText img.aligncenter {
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  display: block;
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText img.aligncenter {
    padding: 0;
    padding-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}

#editorPost .singleText .wp-caption.alignleft {
  padding-right: 30px;
  padding-bottom: 30px;
  float: left;
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText .wp-caption.alignleft {
    padding: 0;
    padding-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: block;
  }
}

#editorPost .singleText .wp-caption.alignright {
  padding-left: 30px;
  padding-bottom: 30px;
  float: right;
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText .wp-caption.alignright {
    padding: 0;
    padding-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    float: none;
    display: block;
  }
}

#editorPost .singleText .wp-caption.aligncenter {
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  clear: both;
  display: block;
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText .wp-caption.aligncenter {
    padding: 0;
    padding-bottom: 4%;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}

#editorPost .singleText hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: #686868;
  display: block;
}

#editorPost .singleText blockquote {
  padding: 65px;
  background-color: #f8f8f8;
  display: block;
  position: relative;
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText blockquote {
    padding: 40px;
  }
}

#editorPost .singleText blockquote:before, #editorPost .singleText blockquote:after {
  width: 42px;
  height: 32px;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: block;
  position: absolute;
  z-index: 1;
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText blockquote:before, #editorPost .singleText blockquote:after {
    width: 21px;
    height: 16px;
  }
}

#editorPost .singleText blockquote:before {
  background-image: url("../images/icon/quate_top_2x.png");
  top: 20px;
  left: 20px;
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText blockquote:before {
    top: 15px;
    left: 15px;
  }
}

#editorPost .singleText blockquote:after {
  background-image: url("../images/icon/quate_bottom_2x.png");
  right: 20px;
  bottom: 20px;
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText blockquote:after {
    right: 15px;
    bottom: 15px;
  }
}

#editorPost .singleText blockquote p {
  line-height: 2;
  position: relative;
  z-index: 2;
}

#editorPost .singleText ul {
  padding-left: 1.2em;
  list-style: disc;
  font-size: 16px;
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText ul {
    font-size: 3.2vw;
  }
}

#editorPost .singleText ul li {
  list-style: disc;
}

#editorPost .singleText ol {
  padding-left: 1.2em;
  list-style: decimal;
  font-size: 16px;
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText ol {
    font-size: 3.2vw;
  }
}

#editorPost .singleText ol li {
  list-style: decimal;
}

#editorPost .singleText li {
  line-height: 1.8;
  margin-top: 15px;
  font-size: 16px;
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText li {
    margin-top: 3%;
    font-size: 3.2vw;
  }
}

#editorPost .singleText li:first-child {
  margin-top: 0;
}

#editorPost .singleText iframe,
#editorPost .singleText video {
  max-width: 100% !important;
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText iframe,
  #editorPost .singleText video {
    height: 56.25vw !important;
  }
}

#editorPost .singleText table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 14px;
}

#editorPost .singleText table th {
  line-height: 1.8;
  padding: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText table th {
    font-size: 3.2vw;
  }
}

#editorPost .singleText table td {
  line-height: 1.8;
  padding: 20px;
  border: 1px solid #ccc;
  font-size: 16px;
}

@media only screen and (max-width: 767px) {
  #editorPost .singleText table td {
    font-size: 3.2vw;
  }
}

#editorPost .singleText table thead th:first-child,
#editorPost .singleText table thead td:first-child {
  border: none;
  background-color: transparent;
}
